In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [23]:
data = pd.read_csv(r"data.csv", sep = ",")
data

,Name,online/ofline,partner,other types of roof,sales Ondo,quantity SKU Ondo,quantity SKU Braas,demand,Recommendability,Recommendability of competitor,Price deviations,% deviation
0,ibud.ua,1,1,6,1450000,9,36,1,7,9,249,0.286533
1,kievdah,1,1,8,1123900,10,61,0,5,9,180,0.047619
2,moyahata,1,1,4,899400,3,8,0,8,9,149,0.211640
3,elit-dah,1,1,1,700595,8,50,0,4,10,189,0.000000
4,krovlyacity,1,1,2,123500,3,10,1,7,8,189,0.000000
5,servusterm,1,2,6,105300,3,11,0,4,8,249,0.286533
6,trishkovcompany,1,2,6,110000,5,18,0,6,10,274,0.214900
7,оксамит-вин,1,2,6,980188,3,1,1,8,2,224,0.358166
8,все для кровли (vdk-kh),1,2,5,450400,3,8,0,6,8,180,0.047619
9,"CK ""Nikoll"" (skn)",1,2,5,540800,6,0,1,10,0,249,0.286533
10,Наша стройка (nashastroika),1,2,2,100200,9,31,1,6,9,213,0.389685
11,velikan-stroy,1,2,3,360800,3,0,1,10,0,229,0.343840
12,domkrovli,1,1,2,950100,3,19,1,8,4,171,0.095238
13,real-trade,1,1,6,420500,10,0,1,10,0,349,0.000000
14,blagosvit,1,1,4,1100200,3,30,0,6,8,160,0.153439
15,budmagazin,1,2,3,470400,10,6,1,9,5,195,-0.031746
16,podpostachbyd,1,1,4,200500,8,0,1,10,0,210,0.398281
17,vipkrovlya,1,1,3,899500,3,0,1,8,0,195,-0.031746
18,eos-klinkier,1,1,8,1120499,21,41,0,6,9,296,0.151862
19,roof lviv,1,2,8,450400,2,30,0,3,8,190,-0.005291
20,dahcentr,1,1,2,150800,3,1,1,9,4,159,0.158730
21,master-dach,0,3,5,0,0,15,0,0,8,0,1.000000
22,profitile,0,3,6,0,0,21,0,0,9,0,1.000000
23,Budivelʹnyy Dvir,0,3,4,0,0,14,0,0,10,0,1.000000
24,Dahcentr,0,3,2,0,0,10,0,0,10,0,1.000000

In [24]:
names = data["Name"]
names

0                         ibud.ua
1                         kievdah
2                        moyahata
3                        elit-dah
4                     krovlyacity
5                      servusterm
6                 trishkovcompany
7                     оксамит-вин
8         все для кровли (vdk-kh)
9               CK "Nikoll" (skn)
10    Наша стройка (nashastroika)
11                  velikan-stroy
12                      domkrovli
13                     real-trade
14                      blagosvit
15                     budmagazin
16                  podpostachbyd
17                     vipkrovlya
18                   eos-klinkier
19                      roof lviv
20                       dahcentr
21                    master-dach
22                      profitile
23               Budivelʹnyy Dvir
24                       Dahcentr
Name: Name, dtype: object

In [25]:
data["Name"] = pd.Categorical(data["Name"])
data["Name"] = data["Name"].cat.codes
data

,Name,online/ofline,partner,other types of roof,sales Ondo,quantity SKU Ondo,quantity SKU Braas,demand,Recommendability,Recommendability of competitor,Price deviations,% deviation
0,9,1,1,6,1450000,9,36,1,7,9,249,0.286533
1,10,1,1,8,1123900,10,61,0,5,9,180,0.047619
2,13,1,1,4,899400,3,8,0,8,9,149,0.211640
3,7,1,1,1,700595,8,50,0,4,10,189,0.000000
4,11,1,1,2,123500,3,10,1,7,8,189,0.000000
5,18,1,2,6,105300,3,11,0,4,8,249,0.286533
6,19,1,2,6,110000,5,18,0,6,10,274,0.214900
7,24,1,2,6,980188,3,1,1,8,2,224,0.358166
8,23,1,2,5,450400,3,8,0,6,8,180,0.047619
9,1,1,2,5,540800,6,0,1,10,0,249,0.286533
10,22,1,2,2,100200,9,31,1,6,9,213,0.389685
11,20,1,2,3,360800,3,0,1,10,0,229,0.343840
12,6,1,1,2,950100,3,19,1,8,4,171,0.095238
13,16,1,1,6,420500,10,0,1,10,0,349,0.000000
14,3,1,1,4,1100200,3,30,0,6,8,160,0.153439
15,4,1,2,3,470400,10,6,1,9,5,195,-0.031746
16,14,1,1,4,200500,8,0,1,10,0,210,0.398281
17,21,1,1,3,899500,3,0,1,8,0,195,-0.031746
18,8,1,1,8,1120499,21,41,0,6,9,296,0.151862
19,17,1,2,8,450400,2,30,0,3,8,190,-0.005291
20,5,1,1,2,150800,3,1,1,9,4,159,0.158730
21,12,0,3,5,0,0,15,0,0,8,0,1.000000
22,15,0,3,6,0,0,21,0,0,9,0,1.000000
23,0,0,3,4,0,0,14,0,0,10,0,1.000000
24,2,0,3,2,0,0,10,0,0,10,0,1.000000

In [28]:
data_np = data.as_matrix()
data_np

/home/maria/Downloads/yes/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

array([[ 9.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         6.00000000e+00,  1.45000000e+06,  9.00000000e+00,
         3.60000000e+01,  1.00000000e+00,  7.00000000e+00,
         9.00000000e+00,  2.49000000e+02,  2.86532951e-01],
       [ 1.00000000e+01,  1.00000000e+00,  1.00000000e+00,
         8.00000000e+00,  1.12390000e+06,  1.00000000e+01,
         6.10000000e+01,  0.00000000e+00,  5.00000000e+00,
         9.00000000e+00,  1.80000000e+02,  4.76190476e-02],
       [ 1.30000000e+01,  1.00000000e+00,  1.00000000e+00,
         4.00000000e+00,  8.99400000e+05,  3.00000000e+00,
         8.00000000e+00,  0.00000000e+00,  8.00000000e+00,
         9.00000000e+00,  1.49000000e+02,  2.11640212e-01],
       [ 7.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         1.00000000e+00,  7.00595000e+05,  8.00000000e+00,
         5.00000000e+01,  0.00000000e+00,  4.00000000e+00,
         1.00000000e+01,  1.89000000e+02,  0.00000000e+00],
       [ 1.10000000e+01,  1.00000000e+00,  1.00000000e+00,
         2.00000000e+00,  1.23500000e+05,  3.00000000e+00,
         1.00000000e+01,  1.00000000e+00,  7.00000000e+00,
         8.00000000e+00,  1.89000000e+02,  0.00000000e+00],
       [ 1.80000000e+01,  1.00000000e+00,  2.00000000e+00,
         6.00000000e+00,  1.05300000e+05,  3.00000000e+00,
         1.10000000e+01,  0.00000000e+00,  4.00000000e+00,
         8.00000000e+00,  2.49000000e+02,  2.86532951e-01],
       [ 1.90000000e+01,  1.00000000e+00,  2.00000000e+00,
         6.00000000e+00,  1.10000000e+05,  5.00000000e+00,
         1.80000000e+01,  0.00000000e+00,  6.00000000e+00,
         1.00000000e+01,  2.74000000e+02,  2.14899713e-01],
       [ 2.40000000e+01,  1.00000000e+00,  2.00000000e+00,
         6.00000000e+00,  9.80188000e+05,  3.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  8.00000000e+00,
         2.00000000e+00,  2.24000000e+02,  3.58166189e-01],
       [ 2.30000000e+01,  1.00000000e+00,  2.00000000e+00,
         5.00000000e+00,  4.50400000e+05,  3.00000000e+00,
         8.00000000e+00,  0.00000000e+00,  6.00000000e+00,
         8.00000000e+00,  1.80000000e+02,  4.76190476e-02],
       [ 1.00000000e+00,  1.00000000e+00,  2.00000000e+00,
         5.00000000e+00,  5.40800000e+05,  6.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  1.00000000e+01,
         0.00000000e+00,  2.49000000e+02,  2.86532951e-01],
       [ 2.20000000e+01,  1.00000000e+00,  2.00000000e+00,
         2.00000000e+00,  1.00200000e+05,  9.00000000e+00,
         3.10000000e+01,  1.00000000e+00,  6.00000000e+00,
         9.00000000e+00,  2.13000000e+02,  3.89684814e-01],
       [ 2.00000000e+01,  1.00000000e+00,  2.00000000e+00,
         3.00000000e+00,  3.60800000e+05,  3.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  1.00000000e+01,
         0.00000000e+00,  2.29000000e+02,  3.43839542e-01],
       [ 6.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         2.00000000e+00,  9.50100000e+05,  3.00000000e+00,
         1.90000000e+01,  1.00000000e+00,  8.00000000e+00,
         4.00000000e+00,  1.71000000e+02,  9.52380952e-02],
       [ 1.60000000e+01,  1.00000000e+00,  1.00000000e+00,
         6.00000000e+00,  4.20500000e+05,  1.00000000e+01,
         0.00000000e+00,  1.00000000e+00,  1.00000000e+01,
         0.00000000e+00,  3.49000000e+02,  0.00000000e+00],
       [ 3.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         4.00000000e+00,  1.10020000e+06,  3.00000000e+00,
         3.00000000e+01,  0.00000000e+00,  6.00000000e+00,
         8.00000000e+00,  1.60000000e+02,  1.53439153e-01],
       [ 4.00000000e+00,  1.00000000e+00,  2.00000000e+00,
         3.00000000e+00,  4.70400000e+05,  1.00000000e+01,
         6.00000000e+00,  1.00000000e+00,  9.00000000e+00,
         5.00000000e+00,  1.95000000e+02, -3.17460317e-02],
       [ 1.40000000e+01,  1.00000000e+00,  1.00000000e+00,
         4.00000000e+00,  2.00500000e+05,  8.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  1.00000000e+01,
         0.00000000e+00,  2.10000000e+02,  3.98280802e-01],
       [ 2.10000000e+01,  1.00000000e+00,  1.00000000e+00,
         3.00000000e+00,  8.99500000e+05,  3.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  8.00000000e+00,
         0.00000000e+00,  1.95000000e+02, -3.17460317e-02],
       [ 8.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         8.00000000e+00,  1.12049900e+06,  2.10000000e+01,
         4.10000000e+01,  0.00000000e+00,  6.00000000e+00,
         9.00000000e+00,  2.96000000e+02,  1.51862464e-01],
       [ 1.70000000e+01,  1.00000000e+00,  2.00000000e+00,
         8.00000000e+00,  4.50400000e+05,  2.00000000e+00,
         3.00000000e+01,  0.00000000e+00,  3.00000000e+00,
         8.00000000e+00,  1.90000000e+02, -5.29100529e-03],
       [ 5.00000000e+00,  1.00000000e+00,  1.00000000e+00,
         2.00000000e+00,  1.50800000e+05,  3.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  9.00000000e+00,
         4.00000000e+00,  1.59000000e+02,  1.58730159e-01],
       [ 1.20000000e+01,  0.00000000e+00,  3.00000000e+00,
         5.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.50000000e+01,  0.00000000e+00,  0.00000000e+00,
         8.00000000e+00,  0.00000000e+00,  1.00000000e+00],
       [ 1.50000000e+01,  0.00000000e+00,  3.00000000e+00,
         6.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         2.10000000e+01,  0.00000000e+00,  0.00000000e+00,
         9.00000000e+00,  0.00000000e+00,  1.00000000e+00],
       [ 0.00000000e+00,  0.00000000e+00,  3.00000000e+00,
         4.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.40000000e+01,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+01,  0.00000000e+00,  1.00000000e+00],
       [ 2.00000000e+00,  0.00000000e+00,  3.00000000e+00,
         2.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+01,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+01,  0.00000000e+00,  1.00000000e+00]])

# 3 clasters

In [29]:
model = KMeans(n_clusters=3).fit(data_np)

In [30]:
labels = model.labels_
centroids = model.cluster_centers_

In [31]:
labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)

for k in range(n_clusters_):
    my_members = labels == k
    print ("cluster {0}: {1}".format(k, data_np[my_members, 0]))

cluster 0: [ 9. 10. 13. 24.  6.  3. 21.  8.]
cluster 1: [11. 18. 19. 22. 14.  5. 12. 15.  0.  2.]
cluster 2: [ 7. 23.  1. 20. 16.  4. 17.]

In [32]:
data['Name_alph'] = names
data

,Name,online/ofline,partner,other types of roof,sales Ondo,quantity SKU Ondo,quantity SKU Braas,demand,Recommendability,Recommendability of competitor,Price deviations,% deviation,Name_alph
0,9,1,1,6,1450000,9,36,1,7,9,249,0.286533,ibud.ua
1,10,1,1,8,1123900,10,61,0,5,9,180,0.047619,kievdah
2,13,1,1,4,899400,3,8,0,8,9,149,0.211640,moyahata
3,7,1,1,1,700595,8,50,0,4,10,189,0.000000,elit-dah
4,11,1,1,2,123500,3,10,1,7,8,189,0.000000,krovlyacity
5,18,1,2,6,105300,3,11,0,4,8,249,0.286533,servusterm
6,19,1,2,6,110000,5,18,0,6,10,274,0.214900,trishkovcompany
7,24,1,2,6,980188,3,1,1,8,2,224,0.358166,оксамит-вин
8,23,1,2,5,450400,3,8,0,6,8,180,0.047619,все для кровли (vdk-kh)
9,1,1,2,5,540800,6,0,1,10,0,249,0.286533,"CK ""Nikoll"" (skn)"
10,22,1,2,2,100200,9,31,1,6,9,213,0.389685,Наша стройка (nashastroika)
11,20,1,2,3,360800,3,0,1,10,0,229,0.343840,velikan-stroy
12,6,1,1,2,950100,3,19,1,8,4,171,0.095238,domkrovli
13,16,1,1,6,420500,10,0,1,10,0,349,0.000000,real-trade
14,3,1,1,4,1100200,3,30,0,6,8,160,0.153439,blagosvit
15,4,1,2,3,470400,10,6,1,9,5,195,-0.031746,budmagazin
16,14,1,1,4,200500,8,0,1,10,0,210,0.398281,podpostachbyd
17,21,1,1,3,899500,3,0,1,8,0,195,-0.031746,vipkrovlya
18,8,1,1,8,1120499,21,41,0,6,9,296,0.151862,eos-klinkier
19,17,1,2,8,450400,2,30,0,3,8,190,-0.005291,roof lviv
20,5,1,1,2,150800,3,1,1,9,4,159,0.158730,dahcentr
21,12,0,3,5,0,0,15,0,0,8,0,1.000000,master-dach
22,15,0,3,6,0,0,21,0,0,9,0,1.000000,profitile
23,0,0,3,4,0,0,14,0,0,10,0,1.000000,Budivelʹnyy Dvir
24,2,0,3,2,0,0,10,0,0,10,0,1.000000,Dahcentr

In [33]:
cluster1_3numbers = data.loc [(data['Name'] == 11)| 
                              (data['Name'] == 18)|
                              (data['Name'] == 19)|
                              (data['Name'] == 22)|
                              (data['Name'] == 14)|
                              (data['Name'] == 5) |
                              (data['Name'] == 12)|
                              (data['Name'] == 15)|
                              (data['Name'] == 0) |
                              (data['Name'] == 2)  ]

cluster2_3numbers = data.loc [(data['Name'] == 9) | 
                              (data['Name'] == 10)|
                              (data['Name'] == 13)|
                              (data['Name'] == 24)|
                              (data['Name'] == 6) |
                              (data['Name'] == 3) |
                              (data['Name'] == 21)|
                              (data['Name'] == 8)  ]

cluster3_3numbers = data.loc [(data['Name'] == 7) | 
                              (data['Name'] == 23)|
                              (data['Name'] == 1) |
                              (data['Name'] == 20)|
                              (data['Name'] == 16)|
                              (data['Name'] == 4) |
                              (data['Name'] == 17) ]

In [34]:
cluster1_3numbers

,Name,online/ofline,partner,other types of roof,sales Ondo,quantity SKU Ondo,quantity SKU Braas,demand,Recommendability,Recommendability of competitor,Price deviations,% deviation,Name_alph
4,11,1,1,2,123500,3,10,1,7,8,189,0.000000,krovlyacity
5,18,1,2,6,105300,3,11,0,4,8,249,0.286533,servusterm
6,19,1,2,6,110000,5,18,0,6,10,274,0.214900,trishkovcompany
10,22,1,2,2,100200,9,31,1,6,9,213,0.389685,Наша стройка (nashastroika)
16,14,1,1,4,200500,8,0,1,10,0,210,0.398281,podpostachbyd
20,5,1,1,2,150800,3,1,1,9,4,159,0.158730,dahcentr
21,12,0,3,5,0,0,15,0,0,8,0,1.000000,master-dach
22,15,0,3,6,0,0,21,0,0,9,0,1.000000,profitile
23,0,0,3,4,0,0,14,0,0,10,0,1.000000,Budivelʹnyy Dvir
24,2,0,3,2,0,0,10,0,0,10,0,1.000000,Dahcentr

In [35]:
cluster2_3numbers

,Name,online/ofline,partner,other types of roof,sales Ondo,quantity SKU Ondo,quantity SKU Braas,demand,Recommendability,Recommendability of competitor,Price deviations,% deviation,Name_alph
0,9,1,1,6,1450000,9,36,1,7,9,249,0.286533,ibud.ua
1,10,1,1,8,1123900,10,61,0,5,9,180,0.047619,kievdah
2,13,1,1,4,899400,3,8,0,8,9,149,0.211640,moyahata
7,24,1,2,6,980188,3,1,1,8,2,224,0.358166,оксамит-вин
12,6,1,1,2,950100,3,19,1,8,4,171,0.095238,domkrovli
14,3,1,1,4,1100200,3,30,0,6,8,160,0.153439,blagosvit
17,21,1,1,3,899500,3,0,1,8,0,195,-0.031746,vipkrovlya
18,8,1,1,8,1120499,21,41,0,6,9,296,0.151862,eos-klinkier

In [36]:
cluster3_3numbers

,Name,online/ofline,partner,other types of roof,sales Ondo,quantity SKU Ondo,quantity SKU Braas,demand,Recommendability,Recommendability of competitor,Price deviations,% deviation,Name_alph
3,7,1,1,1,700595,8,50,0,4,10,189,0.000000,elit-dah
8,23,1,2,5,450400,3,8,0,6,8,180,0.047619,все для кровли (vdk-kh)
9,1,1,2,5,540800,6,0,1,10,0,249,0.286533,"CK ""Nikoll"" (skn)"
11,20,1,2,3,360800,3,0,1,10,0,229,0.343840,velikan-stroy
13,16,1,1,6,420500,10,0,1,10,0,349,0.000000,real-trade
15,4,1,2,3,470400,10,6,1,9,5,195,-0.031746,budmagazin
19,17,1,2,8,450400,2,30,0,3,8,190,-0.005291,roof lviv

# 4 clasters

In [38]:
model = KMeans(n_clusters=4).fit(data_np)

In [39]:
labels = model.labels_
centroids = model.cluster_centers_

In [41]:
labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)

for k in range(n_clusters_):
    my_members = labels == k
    print ("cluster {0}: {1}".format(k, data_np[my_members, 0]))

cluster 0: [11. 18. 19. 22. 14.  5. 12. 15.  0.  2.]
cluster 1: [10. 13. 24.  6.  3. 21.  8.]
cluster 2: [ 7. 23.  1. 20. 16.  4. 17.]
cluster 3: [9.]

In [124]:
cluster1_4numbers = data.loc [(data['Name'] == 9)]

cluster2_4numbers = data.loc [(data['Name'] == 11)| 
                              (data['Name'] == 18)|
                              (data['Name'] == 19)|
                              (data['Name'] == 22)|
                              (data['Name'] == 14)|
                              (data['Name'] == 5) |
                              (data['Name'] == 12)|
                              (data['Name'] == 15)|
                              (data['Name'] == 0) |
                              (data['Name'] == 2)  ]

cluster3_4numbers = data.loc [(data['Name'] == 7) | 
                              (data['Name'] == 23)|
                              (data['Name'] == 1) |
                              (data['Name'] == 20)|
                              (data['Name'] == 16)|
                              (data['Name'] == 4) |
                              (data['Name'] == 17) ]

cluster4_4numbers = data.loc [(data['Name'] == 10)|
                              (data['Name'] == 13)|
                              (data['Name'] == 24)|
                              (data['Name'] == 6) |
                              (data['Name'] == 3) |
                              (data['Name'] == 21)|
                              (data['Name'] == 8)  ]

In [125]:
cluster1_4numbers

,Name,online/ofline,partner,other types of roof,sales Ondo,quantity SKU Ondo,quantity SKU Braas,demand,Recommendability,Recommendability of competitor,Price deviations,% deviation,Name_alph
0,9,1,1,6,1450000,9,36,1,7,9,249,0.286533,ibud.ua

In [126]:
cluster2_4numbers

,Name,online/ofline,partner,other types of roof,sales Ondo,quantity SKU Ondo,quantity SKU Braas,demand,Recommendability,Recommendability of competitor,Price deviations,% deviation,Name_alph
4,11,1,1,2,123500,3,10,1,7,8,189,0.000000,krovlyacity
5,18,1,2,6,105300,3,11,0,4,8,249,0.286533,servusterm
6,19,1,2,6,110000,5,18,0,6,10,274,0.214900,trishkovcompany
10,22,1,2,2,100200,9,31,1,6,9,213,0.389685,Наша стройка (nashastroika)
16,14,1,1,4,200500,8,0,1,10,0,210,0.398281,podpostachbyd
20,5,1,1,2,150800,3,1,1,9,4,159,0.158730,dahcentr
21,12,0,3,5,0,0,15,0,0,8,0,1.000000,master-dach
22,15,0,3,6,0,0,21,0,0,9,0,1.000000,profitile
23,0,0,3,4,0,0,14,0,0,10,0,1.000000,Budivelʹnyy Dvir
24,2,0,3,2,0,0,10,0,0,10,0,1.000000,Dahcentr

In [127]:
cluster3_4numbers

,Name,online/ofline,partner,other types of roof,sales Ondo,quantity SKU Ondo,quantity SKU Braas,demand,Recommendability,Recommendability of competitor,Price deviations,% deviation,Name_alph
3,7,1,1,1,700595,8,50,0,4,10,189,0.000000,elit-dah
8,23,1,2,5,450400,3,8,0,6,8,180,0.047619,все для кровли (vdk-kh)
9,1,1,2,5,540800,6,0,1,10,0,249,0.286533,"CK ""Nikoll"" (skn)"
11,20,1,2,3,360800,3,0,1,10,0,229,0.343840,velikan-stroy
13,16,1,1,6,420500,10,0,1,10,0,349,0.000000,real-trade
15,4,1,2,3,470400,10,6,1,9,5,195,-0.031746,budmagazin
19,17,1,2,8,450400,2,30,0,3,8,190,-0.005291,roof lviv

In [128]:
cluster4_4numbers

,Name,online/ofline,partner,other types of roof,sales Ondo,quantity SKU Ondo,quantity SKU Braas,demand,Recommendability,Recommendability of competitor,Price deviations,% deviation,Name_alph
1,10,1,1,8,1123900,10,61,0,5,9,180,0.047619,kievdah
2,13,1,1,4,899400,3,8,0,8,9,149,0.211640,moyahata
7,24,1,2,6,980188,3,1,1,8,2,224,0.358166,оксамит-вин
12,6,1,1,2,950100,3,19,1,8,4,171,0.095238,domkrovli
14,3,1,1,4,1100200,3,30,0,6,8,160,0.153439,blagosvit
17,21,1,1,3,899500,3,0,1,8,0,195,-0.031746,vipkrovlya
18,8,1,1,8,1120499,21,41,0,6,9,296,0.151862,eos-klinkier

# 5 clasters

In [57]:
model = KMeans(n_clusters=5).fit(data)

In [58]:
labels = model.labels_
centroids = model.cluster_centers_

In [59]:
labels_unique = np.unique(labels)
n_clusters_ = len(labels_unique)

for k in range(n_clusters_):
    my_members = labels == k
    print ("cluster {0}: {1}".format(k, data[my_members, 0]))

cluster 0: [10.  3.  8.]
cluster 1: [23.  1. 20. 16.  4. 17.]
cluster 2: [11. 18. 19. 22. 14.  5. 12. 15.  0.  2.]
cluster 3: [13.  7. 24.  6. 21.]
cluster 4: [9.]